<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085463141352-3qin2revia28hbuosou0d21pgph4iuq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085463141352-3qin2revia28hbuosou0d21pgph4iuq9</string>
	<key>API_KEY</key>
	<string>AIzaSyB3CaEzmeKEuky3L8P1SJ_-7921QUxRwv0</string>
	<key>GCM_SENDER_ID</key>
	<string>1085463141352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahl.anthony.dealermutual</string>
	<key>PROJECT_ID</key>
	<string>dealermutual</string>
	<key>STORAGE_BUCKET</key>
	<string>dealermutual.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085463141352:ios:728721c1e51b31af</string>
	<key>DATABASE_URL</key>
	<string>https://dealermutual.firebaseio.com</string>
</dict>
</plist>